In [1]:
import pandas as pd

user_data = pd.read_csv("/Users/jaeho/Work/yeoboya/recommender/data/nn_data/train/new_user_data.csv")
user_data_colum_list = user_data.columns.to_list()
print(len(user_data_colum_list))

87

/var/folders/23/z66xfw69593_wvynw4k7bb080000gn/T/ipykernel_64960/385740077.py:3: DtypeWarning: Columns (7,22,25,26,33,34,37,63,64,65,66,82) have mixed types. Specify dtype option on import or set low_memory=False.
  user_data = pd.read_csv("/Users/jaeho/Work/yeoboya/recommender/data/nn_data/train/new_user_data.csv")

In [2]:
print(user_data_colum_list)

['mem_no', 'mem_sex', 'mem_loc', 'mem_l_code', 'mem_birth_year', 'mem_birth_month', 'mem_birth_day', 'mem_birth_date', 'mem_birth_ddi', 'mate_slct', 'mate_slct_yn', 'mem_name_slct', 'mem_last_name_code', 'mem_last_name', 'mem_first_name', 'rprsn_mov_yn', 'rprsn_mov', 'rprsn_mov_img', 'rprsn_photo_no', 'rprsn_photo_yn', 'rprsn_photo_date', 'rprsn_photo', 'rprsn_chrgr_name', 'photo_cnt', 'mate_conts', 'chrgr_check_req_yn', 'check_reason', 'mate_job', 'mate_job_detail', 'mate_ann_salary', 'mate_parents_property', 'mate_height', 'mate_weight', 'mate_blood', 'mate_religion', 'mate_car', 'mate_career', 'mate_style', 'mate_charc', 'mate_hobby', 'mate_offspring_m', 'mate_offspring_f', 'htown_loc', 'htown_l_code', 'match_amt', 'wed_plan', 'fashion_style', 'divorce_rslt', 'brothers_sisters', 'possess_property', 'language_skills', 'study_abroad', 'favor_food', 'parents_slct', 'divorce_year', 'child_raise', 'family_conts', 'smoke_slct', 'drink_slct', 'health_slct', 'animal_slct', 'childbirth_slct', 'z_wish_age', 'z_wish_loc', 'z_wish_loc_1', 'z_wish_loc_2', 'z_wish_loc_3', 'z_wish_religion', 'z_wish_conts', 'reject_date', 'reject_info', 'join_slct', 'mem_slct', 'login_media', 'send_cnt', 'upd_cnt', 'conts_upd_cnt', 'family_conts_upd_cnt', 'secret_item_yn', 'secret_yn', 'respect_person_cont', 'my_point_cont', 'list_prt_yn', 'my_hd_item_yn', 'my_hd_yn', 'ins_date', 'upd_date']

In [3]:
detail_location = list(set(user_data['mem_l_code'].values.tolist()))
print(len(detail_location))
print(detail_location)

293
['f00', 'i14', 'n04', 'i07', 'qcn', 'o06', 'k00', 'l14', 'e04', 'b23', 'b00', 'a11', 'b13', 'e02', 'qnz', 'h08', 'y11', 'l08', 'p09', 'qau', 'd06', 'a02', 'f03', 'i15', 'n02', 'c08', 'd18', 'i20', 'd17', 'p06', 'd10', 'o15', 'g04', 'l01', 'h11', 'a03', 'd11', 'j03', 'l00', 'c00', 'e03', 'z00', 'l11', 'l03', 'h02', 'd12', 'd19', 'b38', 'i05', 'i10', 'd16', 'n05', 'b42', 'i08', 'd03', 'i', 'b39', 'b34', 'm02', 'j00', 'b28', 'b37', 'b02', 'a15', 'b40', 'j04', 'd08', 'b31', 'o16', 'd05', 'k06', 'b20', 'k04', 'c11', 'd15', 'b19', 'i03', 'c21', 'c06', 'i04', 'p10', 'p13', 'h10', 'n09', 'c18', 'p05', 'f01', 'n12', 'p07', 'i23', 'n15', 'f04', 'i22', 'g02', 'j02', 'a04', 'h06', 'c03', 'o01', 'qru', 'g01', 'l09', 'n06', 'i24', 'l22', 'o12', 'k07', 'm01', 'p14', 'j05', 'd23', 'l04', 'quz', 'c07', 'k01', 'h12', 'g03', 'o11', 'b30', 'f06', 'b05', 'i01', 'd09', 'd14', 'o03', 'i17', 'i02', 'i21', 'c19', 'o13', 'h01', 'l10', 'qpl', 'n13', 'qca', 'h00', 'i12', 'l18', 'b41', 'b06', 'f08', 'b27', 'b09', 'k08', 'i06', 'b24', 'd01', 'c20', 'p04', 'd21', 'y01', 'e05', 'd04', 'k10', 'e00', 'a17', 'c12', 'y04', 'h03', 'c15', 'o02', 'b21', 'b12', 'a08', 'o07', 'a05', 'p01', 'c01', 'l06', 'h14', 'd24', 'p08', 'b07', 'b44', 'g00', 'a01', 'h05', 'b26', 'qvn', 'n11', 'b43', 'c02', 'i09', 'qat', 'qde', 'a14', 'h09', 'b25', 'i19', 'b11', 'b22', 'c16', 'l05', 'l16', 'o08', 'h16', 'n01', 'qnl', 'n14', 'p00', 'a12', 'b32', 'p12', 'l21', 'a00', 'b18', 'b03', 'qtw', 'b33', 'p03', 'i11', 'g05', 'm00', 'n08', 'i18', 'l19', 'k09', 'qsg', 'b36', 'b01', 'd20', 'c09', 'qgu', 'h04', 'o05', 'a07', 'f07', 'i16', 'o17', 'qus', 'c05', 'o10', 'qse', 'p11', 'c13', 'l20', 'd00', 'a13', 'f02', 'a09', 'k05', 'o00', 'qsk', 'c17', 'qph', 'b35', 'b16', 'l13', 'z01', 'd22', 'i25', 'f05', 'j01', 'qjp', 'c10', 'a18', 'n03', 'h07', 'l15', 'l07', 'b15', 'b04', 'o14', 'a16', 'c04', 'i00', 'qgb', 'd13', 'i13', 'b08', 'p02', 'a10', 'b17', 'o09', 'b29', 'd07', 'l12', 'qhk', 'l02', 'k03', 'd02', 'b10', 'k02', 'c14', 'h15', 'h13', 'o04', 'c22', 'n07', 'n10', 'a06', 'e01', 'l17']

In [4]:
from sklearn.preprocessing import OneHotEncoder
one_hot = OneHotEncoder(sparse=False)
one_hot.fit(user_data[['mem_l_code']])
print(one_hot.transform(user_data[['mem_l_code']]))

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

/Users/jaeho/miniforge3/envs/tf/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [5]:
user_data[['mem_birth_year', 'mem_birth_month', 'mem_birth_day', 'mem_birth_date']]

       mem_birth_year  mem_birth_month  mem_birth_day mem_birth_date
0              1985.0              6.0            3.0     1985-06-03
1              1966.0              2.0            0.0     0000-00-00
2              1977.0             10.0           21.0     1977-10-21
3              1971.0              3.0            0.0     0000-00-00
4              1965.0             10.0            0.0     0000-00-00
...               ...              ...            ...            ...
20691          1964.0              1.0            NaN            NaN
20692          1973.0              5.0            NaN            NaN
20693          1980.0              9.0            NaN            NaN
20694          1973.0              4.0            NaN            NaN
20695          1980.0              6.0            NaN            NaN

[20696 rows x 4 columns]

In [6]:
user_data['mem_birth_year'] = user_data['mem_birth_year'].astype('int')
user_data['mem_birth_year'] = user_data['mem_birth_year'].astype('str')
user_data['mem_birth_year']

0        1985
1        1966
2        1977
3        1971
4        1965
         ...
20691    1964
20692    1973
20693    1980
20694    1973
20695    1980
Name: mem_birth_year, Length: 20696, dtype: object

In [7]:
user_data['mem_birth_month'] = user_data['mem_birth_month'].astype('int')
user_data['mem_birth_month'] = user_data['mem_birth_month'].astype('str')
user_data['mem_birth_month']

0         6
1         2
2        10
3         3
4        10
         ..
20691     1
20692     5
20693     9
20694     4
20695     6
Name: mem_birth_month, Length: 20696, dtype: object

In [8]:
user_data['mem_birth_date'] = user_data[['mem_birth_year', 'mem_birth_month']].agg('-'.join, axis=1)
user_data['mem_birth_date']

0         1985-6
1         1966-2
2        1977-10
3         1971-3
4        1965-10
          ...
20691     1964-1
20692     1973-5
20693     1980-9
20694     1973-4
20695     1980-6
Name: mem_birth_date, Length: 20696, dtype: object

In [9]:
from datetime import datetime
def cal_age(birth_data):
    try:
        now = datetime.now()
        birthday = datetime.strptime(birth_data, "%Y-%m")
        difference = now - birthday
        age = difference.days // 365
        return int(age)
    except Exception as e:
        print(birth_data)
        print(e)
        return None


user_data['age'] = user_data['mem_birth_date'].apply(cal_age)

0-0
time data '0-0' does not match format '%Y-%m'

In [10]:
user_data = user_data[user_data['age'].notnull()]

In [12]:
user_data['age'] = user_data['age'].astype('int')

In [13]:
user_data

,mem_no,mem_sex,mem_loc,mem_l_code,mem_birth_year,mem_birth_month,mem_birth_day,mem_birth_date,mem_birth_ddi,mate_slct,...,secret_item_yn,secret_yn,respect_person_cont,my_point_cont,list_prt_yn,my_hd_item_yn,my_hd_yn,ins_date,upd_date,age
0,19083,m,q,qnz,1985,6,3.0,1985-6,5.0,w,...,n,n,NaN,90.0,y,n,n,2015-07-22 16:31:35,2023-06-27 14:18:35,38
1,12415,m,e,e05,1966,2,0.0,1966-2,10.0,r,...,n,n,NaN,100.0,y,n,n,2015-08-09 13:48:39,2023-06-17 22:57:48,57
2,11191,m,l,l04,1977,10,21.0,1977-10,9.0,r,...,n,n,NaN,NaN,y,n,n,2020-10-25 13:25:37,2023-06-28 10:42:26,46
3,8558,m,g,g03,1971,3,0.0,1971-3,3.0,r,...,n,n,NaN,88.0,y,n,n,2017-03-12 10:34:49,2023-06-10 10:31:31,52
4,20641,m,b,b16,1965,10,0.0,1965-10,9.0,r,...,n,n,NaN,80.0,y,n,n,2015-09-09 23:16:54,2022-11-02 21:55:29,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20691,3448,f,o,o11,1964,1,NaN,1964-1,8.0,r,...,n,n,NaN,80.0,NaN,n,n,2022-01-15 14:47:52,2022-01-23 08:55:06,59
20692,3699,f,n,n13,1973,5,NaN,1973-5,5.0,r,...,n,n,NaN,81.0,NaN,n,n,2022-01-26 01:15:02,2022-01-26 02:05:03,50
20693,14868,m,d,d01,1980,9,NaN,1980-9,0.0,r,...,n,n,NaN,90.0,NaN,n,n,2022-01-25 21:03:21,2022-01-25 21:03:21,43
20694,2994,f,f,f07,1973,4,NaN,1973-4,5.0,r,...,n,n,NaN,60.0,NaN,n,n,2022-01-19 11:04:19,2022-01-19 11:04:19,50
20695,19761,m,o,o16,1980,6,NaN,1980-6,0.0,w,...,n,n,NaN,50.0,NaN,n,n,2022-01-24 19:28:04,2022-01-24 19:28:04,43

In [14]:
user_data.to_csv("new_user_data_age.csv")

In [ ]:
import pandas
data = pd.read_csv('/Users/jaeho/Work/yeoboya/recommender/data/tabula/user_data.csv')
len(data)

In [ ]:
import