In [10]:
import pandas as pd
from pprint import pprint

user_data = pd.read_csv("/Users/jaeho/Work/yeoboya/recommender/data/nn_data/train/new_user_data.csv")
user_data_colum_list = user_data.columns.to_list()
print(len(user_data_colum_list))

87

/var/folders/23/z66xfw69593_wvynw4k7bb080000gn/T/ipykernel_60030/1033791744.py:4: DtypeWarning: Columns (7,22,25,26,33,34,37,63,64,65,66,82) have mixed types. Specify dtype option on import or set low_memory=False.
  user_data = pd.read_csv("/Users/jaeho/Work/yeoboya/recommender/data/nn_data/train/new_user_data.csv")

In [11]:
print(user_data_colum_list)

['mem_no', 'mem_sex', 'mem_loc', 'mem_l_code', 'mem_birth_year', 'mem_birth_month', 'mem_birth_day', 'mem_birth_date', 'mem_birth_ddi', 'mate_slct', 'mate_slct_yn', 'mem_name_slct', 'mem_last_name_code', 'mem_last_name', 'mem_first_name', 'rprsn_mov_yn', 'rprsn_mov', 'rprsn_mov_img', 'rprsn_photo_no', 'rprsn_photo_yn', 'rprsn_photo_date', 'rprsn_photo', 'rprsn_chrgr_name', 'photo_cnt', 'mate_conts', 'chrgr_check_req_yn', 'check_reason', 'mate_job', 'mate_job_detail', 'mate_ann_salary', 'mate_parents_property', 'mate_height', 'mate_weight', 'mate_blood', 'mate_religion', 'mate_car', 'mate_career', 'mate_style', 'mate_charc', 'mate_hobby', 'mate_offspring_m', 'mate_offspring_f', 'htown_loc', 'htown_l_code', 'match_amt', 'wed_plan', 'fashion_style', 'divorce_rslt', 'brothers_sisters', 'possess_property', 'language_skills', 'study_abroad', 'favor_food', 'parents_slct', 'divorce_year', 'child_raise', 'family_conts', 'smoke_slct', 'drink_slct', 'health_slct', 'animal_slct', 'childbirth_slct', 'z_wish_age', 'z_wish_loc', 'z_wish_loc_1', 'z_wish_loc_2', 'z_wish_loc_3', 'z_wish_religion', 'z_wish_conts', 'reject_date', 'reject_info', 'join_slct', 'mem_slct', 'login_media', 'send_cnt', 'upd_cnt', 'conts_upd_cnt', 'family_conts_upd_cnt', 'secret_item_yn', 'secret_yn', 'respect_person_cont', 'my_point_cont', 'list_prt_yn', 'my_hd_item_yn', 'my_hd_yn', 'ins_date', 'upd_date']

In [36]:
detail_location = list(set(user_data['mem_l_code'].values.tolist()))
print(len(detail_location))
print(detail_location)

293
['qus', 'd00', 'd10', 'i14', 'b00', 'j04', 'a14', 'l03', 'p13', 'n07', 'i20', 'p06', 'quz', 'b35', 'o10', 'o01', 'a04', 'o04', 'd22', 'l18', 'b12', 'n15', 'c15', 'c06', 'c04', 'e05', 'o07', 'h05', 'h09', 'b19', 'e03', 'l20', 'c01', 'b29', 'h10', 'p03', 'a10', 'qde', 'k01', 'qgu', 'i', 'f00', 'qcn', 'c19', 'n13', 'b28', 'o11', 'n02', 'i02', 'o14', 'b23', 'n06', 'c07', 'n08', 'd16', 'k07', 'n10', 'o00', 'b22', 'c17', 'l04', 'd12', 'b38', 'c14', 'h00', 'b05', 'p10', 'qru', 'l21', 'o05', 'p02', 'd20', 'p09', 'b21', 'b33', 'i24', 'i12', 'b26', 'k00', 'i09', 'qca', 'g02', 'd15', 'h12', 'b08', 'c21', 'f05', 'qse', 'k03', 'o09', 'i07', 'p11', 'g00', 'o03', 'b44', 'b30', 'a03', 'o17', 'h07', 'b18', 'i18', 'o08', 'i03', 'k02', 'g04', 'h04', 'qsg', 'z00', 'k09', 'h08', 'l09', 'h02', 'a01', 'b17', 'h03', 'k06', 'e02', 'c11', 'd18', 'f04', 'b24', 'i00', 'b09', 'j02', 'qau', 'p04', 'd05', 'h16', 'k04', 'b03', 'l08', 'g01', 'a16', 'l01', 'b15', 'qnl', 'qtw', 'qvn', 'l15', 'n09', 'l19', 'h06', 'd11', 'd23', 'h01', 'c08', 'h15', 'b36', 'e00', 'qsk', 'f02', 'i21', 'c00', 'l02', 'f08', 'c16', 'd21', 'i23', 'l13', 'i19', 'p05', 'i25', 'i22', 'qpl', 'qat', 'l07', 'qgb', 'l00', 'o16', 'j01', 'g05', 'b13', 'b40', 'g03', 'd06', 'h11', 'qjp', 'i05', 'i06', 'b11', 'd19', 'a09', 'n12', 'd01', 'o15', 'b42', 'b10', 'a17', 'c10', 'c22', 'j00', 'b02', 'z01', 'd13', 'p07', 'd24', 'n14', 'd09', 'd08', 'a07', 'n04', 'e01', 'c09', 'a06', 'b31', 'l22', 'a05', 'm00', 'd17', 'h13', 'f07', 'c02', 'o06', 'n03', 'a18', 'm01', 'a08', 'n05', 'a13', 'p00', 'l14', 'y04', 'i01', 'b27', 'n01', 'c12', 'c05', 'a02', 'j05', 'p08', 'b01', 'e04', 'i15', 'b07', 'qnz', 'o13', 'l10', 'p12', 'l05', 'b41', 'c13', 'a15', 'i13', 'f06', 'l11', 'b39', 'l12', 'a11', 'k05', 'f03', 'o12', 'a12', 'p14', 'y11', 'b43', 'b25', 'm02', 'd03', 'j03', 'l06', 'qph', 'n11', 'b37', 'i10', 'k10', 'b34', 'l17', 'y01', 'b32', 'd04', 'i08', 'b04', 'qhk', 'c18', 'i16', 'p01', 'f01', 'd02', 'l16', 'h14', 'b16', 'i04', 'c03', 'd14', 'b20', 'i17', 'k08', 'd07', 'a00', 'b06', 'i11', 'c20', 'o02']

In [54]:
from sklearn.preprocessing import OneHotEncoder
one_hot = OneHotEncoder(sparse=False)
one_hot.fit(user_data[['mem_l_code']])
print(one_hot.transform(user_data[['mem_l_code']]))

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

/Users/jaeho/miniforge3/envs/tf/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [61]:
user_data[['mem_birth_year', 'mem_birth_month', 'mem_birth_day', 'mem_birth_date']]

       mem_birth_year  mem_birth_month  mem_birth_day mem_birth_date
0              1985.0              6.0            3.0     1985-06-03
1              1966.0              2.0            0.0     0000-00-00
2              1977.0             10.0           21.0     1977-10-21
3              1971.0              3.0            0.0     0000-00-00
4              1965.0             10.0            0.0     0000-00-00
...               ...              ...            ...            ...
20691          1964.0              1.0            NaN            NaN
20692          1973.0              5.0            NaN            NaN
20693          1980.0              9.0            NaN            NaN
20694          1973.0              4.0            NaN            NaN
20695          1980.0              6.0            NaN            NaN

[20696 rows x 4 columns]

In [78]:
user_data['mem_birth_year'] = user_data['mem_birth_year'].astype('str')
user_data['mem_birth_year']

0        1985
1        1966
2        1977
3        1971
4        1965
         ...
20691    1964
20692    1973
20693    1980
20694    1973
20695    1980
Name: mem_birth_year, Length: 20696, dtype: object

In [80]:
user_data['mem_birth_month'] = user_data['mem_birth_month'].astype('str')
user_data['mem_birth_month']

0         6
1         2
2        10
3         3
4        10
         ..
20691     1
20692     5
20693     9
20694     4
20695     6
Name: mem_birth_month, Length: 20696, dtype: object

In [82]:
user_data['mem_birth_date'] = user_data[['mem_birth_year', 'mem_birth_month']].agg('-'.join, axis=1)
user_data['mem_birth_date']

0         1985-6
1         1966-2
2        1977-10
3         1971-3
4        1965-10
          ...
20691     1964-1
20692     1973-5
20693     1980-9
20694     1973-4
20695     1980-6
Name: mem_birth_date, Length: 20696, dtype: object

In [84]:
from datetime import datetime
def cal_age(birth_data):
    try:
        now = datetime.now()
        birthday = datetime.strptime(birth_data, "%Y-%m")
        difference = now - birthday
        age = difference.days // 365
    except Exception as e:
        print(birth_data)
        print(e)
    return age


user_data['mem_birth_date'].apply(cal_age)

0-0
time data '0-0' does not match format '%Y-%m'

UnboundLocalError: local variable 'age' referenced before assignment