In [1]:
import tensorflow as tf

In [2]:
import pandas as pd
data = pd.read_csv("/Users/jaeho/Work/yeoboya/recommender/data/nn_data/train/new_user_data_age.csv")

/var/folders/23/z66xfw69593_wvynw4k7bb080000gn/T/ipykernel_23011/2861158854.py:2: DtypeWarning: Columns (22,25,26,33,34,37,63,64,65,66,82) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/Users/jaeho/Work/yeoboya/recommender/data/nn_data/train/new_user_data_age.csv")

In [3]:
data[
    "mem_no", 
    "mem_sex",
    "mate_slct",
    "mate_blood",
    "mate_religion",
    "child_raise",
    "mate_job",
    "smoke_slct",
    "mate_ann_salary", 
    "mate_height", 
    "mate_weight", 
    "mate_career",
    "possess_property",
    "parents_slct",
    ]

,mem_no,mem_sex,mate_slct,mate_blood,mate_religion,child_raise,mate_job,smoke_slct,mate_ann_salary,mate_height,mate_weight,mate_career,possess_property,parents_slct
0,19083,m,w,3,5,NaN,24.0,a|,8.0,186,78,4.0,f,b
1,12415,m,r,3,3,a,51.0,b|b05,5.0,180,75,4.0,c,d
2,11191,m,r,3,5,b,24.0,b|b01,5.0,170,69,6.0,f,a
3,8558,m,r,2,5,NaN,4.0,b|b05,10.0,169,67,3.0,h,c
4,20641,m,r,3,5,b,16.0,b|b05,5.0,180,78,3.0,g,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20690,3448,f,r,2,3.0,NaN,4.0,NaN,3.0,155,46,4.0,c,d
20691,3699,f,r,1,1.0,a,51.0,NaN,2.0,160,57,6.0,e,a
20692,14868,m,r,3,5.0,NaN,21.0,a|,5.0,180,85,3.0,f,c
20693,2994,f,r,1,5.0,b,0.0,NaN,3.0,159,57,6.0,d,d
20694,19761,m,w,1,5.0,NaN,4.0,c|c04,3.0,172,65,2.0,b,a

In [6]:
data["child_raise"].value_counts()

a    3915
z    2902
b    2107
c     229
Name: child_raise, dtype: int64

In [7]:
data["mate_religion"].value_counts()

5      5517
0      3064
5      2281
1      1708
2      1449
5.0    1298
0      1233
0.0     821
3       727
1       723
2       545
1.0     445
2.0     353
3       280
3.0     190
6        14
6         9
4         7
7         6
8         6
9         5
4         5
8.0       3
9.0       2
6.0       2
d         1
7.0       1
Name: mate_religion, dtype: int64